{% extends 'base.html.twig' %}

{% block body %}
    <h1>
       {{ classroom.GetName() }}'s Classroom
    </h1>
    <h2>
        Today's Task (à modif date)
    </h2>
    <ul>
        {% for task in tasks %}
            {% if  task.completed  == false %}
            <li>
                <input type="checkbox" id="{{ task.id }}" name="{{ task.id }}" value="Bike">
                <label for="{{ task.id }}">
                    {{ task.name }} :  {{ task.idUser }}
                </label>
            </li>
            {% endif %}
        {% else %}
            <li> You aren't part of any classrooms, please contact your school administrator if you think it's an mistake </li>
        {% endfor %}
    </ul>

    <hr>

    <h2>
        Classroom's members
    </h2>
    <h3>
        Teacher :
        {% if isTeacher == false  %}
        {{ teacher.GetFirstName() | lower | capitalize}} {{ teacher.GetFirstName() | upper }}
        {%else%}
        You !
        {% endif %}
    </h3>
    <h3>
        Students :
    </h3>
    <ul>
        {% for student in students %}
            {% if  student %}
                <li>
                    {{ student.GetFirstName() | lower | capitalize}} {{ student.GetLastName() | upper }}
                </li>
            {% endif %}
        {% else %}
            <p>
                There's no student in this class.
            </p>
        {% endfor %}
    </ul>


{% endblock %}
